:root {
    --title-text: #0a0a0a;
    --logo-blue: #377cff;
    --body-blue: #0075ff;
    --white: #FFFFFF;
    --grey: #8b8b8b;
    --margin-side: 160px;
    --margin-sections: 160px;
    --light-grey: #d7d7d7;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
header, #navbar {
    width: 100%;
}
#navbar {
    justify-content: space-evenly;
    height: 15.5rem;
    align-items: center;
}
#navbar #logo, #navbar #logo #figures {
    display: flex;
}
#navbar #logo {
    padding-left: 16px;
}
#figures {
    height: max-content;
    margin-bottom: auto ;
}
#logo-div1, #logo-div2, #logo p {
    margin-top: auto;
}
#logo-div1 {
    width: 13px;
    height: 30px;
    background: var(--title-text);
    border-radius: 11px;
    margin-right: 3px;
}
#logo-div2 {
    width: 10px;
    height: 20px;
    background: var(--logo-blue);
    border-radius: 8px;
    margin-right: 8px;
}
#logo p {
    font-size: 3.3rem;
    font-weight: bold;
}
#navbar, #navbar #menu {
    display: flex;
}
#menu {
    list-style: none;
    margin-left: 1.4rem;
}
#menu li {
    margin: 0 2rem;
    font-size: 1.5rem;
}
#menu li:first-child {
    font-weight: bold;
}

.button {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 2.8rem;
}
#sign-buttons .button {
    color: var(--title-text);
    padding: 1.5rem 3.8rem;
}
.sign-up {
    border: 2px solid var(--title-text);
}
.sign-in {
    margin-right: 2.5rem;
}
/*Header ends*/
/*Body starts*/
/*section 1*/
#section1 {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-left: var(--margin-side);
}
#section1 .text-container {
    padding-top: 9.5rem;
}
#section1 h1 {
    font-size: 8.5rem;
}
#section1 .description {
    margin: 32px 0;
    font-size: 2.2rem;
    line-height: 40px;
    width: 90%;
}

.body-button {
    background-color: var(--body-blue);
    color: var(--white);
    font-size: 3rem;
    padding: 2.2rem 4.3rem;
    border-radius: 60px;
    text-decoration: none;
}
#text-button-container {
    display: flex;
    align-items: center;
    width: 100%;
}
#text-button-container div {
    display: flex;
    align-items: center;
    margin: 0 50px;
    gap: 30px;
}
#text-button-container img {
    width: 50px;
    height: auto;
}
.text-container .clients {
    font-size: 1.3rem;
    margin-top: 80px;
    color: var(--grey);
}
.clients span {
    color: var(--title-text);
    font-size: 2.3rem;
    font-weight: bold;
}
.text-container p {
    font-size: 2rem;
    font-weight: 500;
}
#text-button-container a{
    font-weight: lighter;
    font-size: 2rem;
}
#text-button-container {
    display: flex;
}
#section1 .image-container {
    padding-top: 6rem;
    position: relative;
}
/*section 1 ends here*/
/*starts section 2*/
#section2 {
    margin-top: 160px;
    margin-left: var(--margin-side);
}
.pre-title {
    color: var(--grey);
    font-size: 20px;
    font-weight: bold;
}
.main-part {
    display: flex;
    gap: 60px;
    margin-top: 64px;
}
.title {
    margin: 44px 0;
    font-size: 5rem;
    width: 60%;
    line-height: 70px;
}
.image-container1 {
    width: 70%;
    margin-left: -40px;
}
.main-image-body {
    width: 100%;
}
.main-part .text-container {
    position: relative;
    left: 40px;
    top: 10px;
    font-size: 1.8rem;
    line-height: 3.2rem;
}
.main-part .description, .specs {
    width: 80%;
}
.specs {
    margin: 40px 0;
    list-style: none;
    margin-bottom: 60px;
}
.specs li {
    margin: 12px 0;
    display: flex;
    align-items: center;
}
.list-icon {
    width: 20px;
    margin: 4px;
}
.text-container .body-button {
    font-size: 2rem;
}
/*section 2 ends - section 3 starts*/
#section3 {
    margin: 0 var(--margin-side);
    margin-top: var(--margin-sections);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.services-grid {
    margin-top: 92px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3);
    gap: 50px 30px;
    width: 100%;
}
.service {
    border: 2px solid var(--light-grey);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 40px 48px;
    gap: 40px;
}
.service .upper-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.upper-div p:nth-child(3) {
    color: grey;
    line-height: 30px;
}
.service .service-title {
    font-weight: bold;
    font-size: 3rem;
}
.service p {
    font-size: 2rem;
}
.service p:nth-child(2) {
    font-weight: bold;
}
#discover {
    margin-top: 300px;
}
