:root {
    --title-text: #0a0a0a;
    --logo-blue: #377cff;
    --body-blue: #0075ff;
    --white: #FFFFFF;
    --grey: #8b8b8b;
    --dark-grey: #4d4c4d;
    --margin-side: 160px;
    --margin-sections: 160px;
    --light-grey: #d7d7d7;
    --yellow: #fddc01;
    --blog-background: #eeefef;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
header, #navbar {
    width: 100%;
}
#navbar {
    justify-content: space-evenly;
    height: 15.5rem;
    align-items: center;
}
#logo, #figures {
    display: flex;
}
#navbar #logo {
    padding-left: 16px;
}
#figures {
    height: max-content;
    margin-bottom: auto ;
}
#logo-div1, #logo-div2, #logo p {
    margin-top: auto;
}
#logo-div1 {
    width: 13px;
    height: 30px;
    background: var(--title-text);
    border-radius: 11px;
    margin-right: 3px;
}
#logo-div2 {
    width: 10px;
    height: 20px;
    background: var(--logo-blue);
    border-radius: 8px;
    margin-right: 8px;
}
#logo p {
    font-size: 3.3rem;
    font-weight: bold;
}
#navbar, #navbar #menu {
    display: flex;
}
#menu {
    list-style: none;
    margin-left: 1.4rem;
}
#menu li {
    margin: 0 2rem;
    font-size: 1.5rem;
}
#menu li:first-child {
    font-weight: bold;
}

.button {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 2.8rem;
}
#sign-buttons .button {
    color: var(--title-text);
    padding: 1.5rem 3.8rem;
}
.sign-up {
    border: 2px solid var(--title-text);
}
.sign-in {
    margin-right: 2.5rem;
}
/*Header ends*/
/*Body starts*/
/*section 1*/
#section1 {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-left: var(--margin-side);
}
#section1 .text-container {
    padding-top: 9.5rem;
}
#section1 h1 {
    font-size: 8.5rem;
}
#section1 .description {
    margin: 32px 0;
    font-size: 2.2rem;
    line-height: 40px;
    width: 90%;
}

.body-button {
    background-color: var(--body-blue);
    color: var(--white);
    font-size: 2rem;
    padding: 2.2rem 4.3rem;
    border-radius: 60px;
    text-decoration: none;
}
#text-button-container {
    display: flex;
    align-items: center;
    width: 100%;
}
#text-button-container div {
    display: flex;
    align-items: center;
    margin: 0 50px;
    gap: 30px;
}
#text-button-container img {
    width: 50px;
    height: auto;
}
.text-container .clients {
    font-size: 1.3rem;
    margin-top: 80px;
    color: var(--grey);
}
.clients span {
    color: var(--title-text);
    font-size: 2.3rem;
    font-weight: bold;
}
.text-container p {
    font-size: 2rem;
    font-weight: 500;
}
#text-button-container a{
    font-weight: lighter;
    font-size: 2rem;
}
#text-button-container {
    display: flex;
}
#section1 .image-container {
    padding-top: 6rem;
    position: relative;
}
/*section 1 ends here*/
/*starts section 2*/
#section2 {
    margin-top: 160px;
    margin-left: var(--margin-side);
}
.pre-title {
    color: var(--grey);
    font-size: 20px;
    font-weight: bold;
}
.main-part {
    display: flex;
    gap: 60px;
    margin-top: 64px;
}
.title {
    margin: 44px 0;
    font-size: 5rem;
    width: 70%;
    line-height: 70px;
}
.image-container1 {
    width: 70%;
    margin-left: -40px;
}
.main-image-body {
    width: 100%;
}
.main-part .text-container {
    position: relative;
    left: 40px;
    top: 10px;
    font-size: 1.8rem;
    line-height: 3.2rem;
}
.main-part .description, .specs {
    width: 80%;
}
.specs {
    margin: 40px 0;
    list-style: none;
    margin-bottom: 60px;
}
.specs li {
    margin: 12px 0;
    display: flex;
    align-items: center;
}
.list-icon {
    width: 20px;
    margin: 4px;
}
.text-container .body-button {
    font-size: 2rem;
}
/*section 2 ends - section 3 starts*/
#section3 {
    margin: 0 var(--margin-side);
    margin-top: var(--margin-sections);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#section3 .title {
    margin: 24px 0;
}
.services-grid {
    margin-top: 92px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3);
    gap: 50px 50px;
    width: 100%;
}
.service {
    border: 2px solid var(--light-grey);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 40px 48px;
    gap: 20px;
}
.service .upper-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.upper-div p:nth-child(3) { 
    color: grey;
    line-height: 30px;
}
.service .service-title {
    font-weight: bold;
    font-size: 3rem;
}
.service p, .service a {
    font-size: 2.4rem;
}
.service a:nth-child(2) {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
#discover {
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#discover .title {
    font-size: 4.6rem;
    text-align: left;
    line-height: 60px;
    height: max-content;
}
#discover .body-button {
    margin-right: 60px;
    padding: 2.8rem 5rem;
}
/*section 3 ends - section 4 starts here*/
#section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: var(--margin-sections) var(--margin-side);
}
#section4 .title {
    width: 60%;
}
.switch-container {
    display: flex;
    align-items: center;
    font-size: 2rem;
    position: relative;
    top: -28px;
}
.switch-container p {
    background-color: var(--yellow);
    font-weight: bold;
    font-size: 1.6rem;
    padding: 5px 10px;
    margin: 0 28px;
    border-radius: 20px;
}
/*switch styles start*/
.form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    
}
.form-switch i {
    position: relative;
    display: inline-block;
    margin: 0 12px;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}
.form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}

.form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rbga(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}
.form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px 2px 0);
}
.form-switch:active input:checked + i::after { 
    transform: translate3d(16px, 2px, 0); 
}
.form-switch input {
    display: none;
}
.form-switch input:checked + i {
    background-color: #4BD763;
}
.form-switch input:checked + i::before {
    transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.form-switch input:checked + i::after {
    transform: translate3d(22px, 2px, 0);
}
/*switch styles end*/
.plans-grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 96px;
    
}
.plan {
    width: 30%;
    border: 2px solid var(--light-grey);
    border-radius: 12px;
    padding: 44px 40px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.plan-title {
    font-weight: bold;
    font-size: 3.2rem;
}
.plan-price {
    font-size: 6rem;
    font-weight: 700;
    margin: 20px 0;
    
}
.plan-price span {
    font-size: 1.6rem;
    color: var(--light-grey);
    font-weight: normal;
    padding: 0 4px;
}
.plan-features {
    list-style: none;
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 40px;
    text-align: left;

}
.green-check {
    width: 16px;
    margin: 0 8px;
}
.save {
    font-size: 1.6rem;
    font-weight: bold;
    background-color: var(--light-grey);
    width: max-content;
    margin: 32px auto;
    padding: 8px 20px;
    border-radius: 20px;
}
.plan-button {
    background-color: var(--body-blue);
    width: 100%;
    color: var(--white);
    font-size: 2.2rem;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
/*section 4 ends - section 5 starts*/
#section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: var(--margin-sections);
}
#section5 .title {
    width: 40%;
    margin-top: 28px;
}
.opinion-grid {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.opinion {
    text-align: left;
    padding:  44px 36px;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.opinion-grid .opinion:nth-child(2) {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.opinion-logo {
    width: 100px;

}
.opinion-grid .opinion:nth-child(1) .opinion-logo{
    margin: 8px 0;
    margin-bottom: 18px;
}
.opinion-grid .opinion:nth-child(2) .opinion-logo{
    margin: 4px 0;
}
.opinion-body {
    font-size: 1.6rem;
    line-height: 3rem;
    color: var(--dark-grey);
    width: 90%;
    margin: 16px 0;
}
.author-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}
.author-profile {
    display: flex;
    align-items: center;
    gap: 12px;
}
.author-profile img {
    border-radius: 50%;
    width: 50px;
}
.role {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
}
.role p:nth-child(1){
    font-weight: bold;
    font-size: 2rem;
}
.role p:nth-child(2) {
    font-size: 1.7rem;
    color: var(--grey);
}
.quote-img {
    width: 50px;
    height: 100%;
}
/*section 5 ends - section 6 starts*/
#section6 {
    background-color: var(--blog-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 14rem var(--margin-side) 12rem var(--margin-side);
}
#section6 .title {
    margin-top: 28px;
}
.blog-container {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.blog-container .post {
    flex: 1;
}
.blog-container .image-post {
    flex: 4;
    position: relative;
}
.image-post>img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}
.image-post>div {
    position: absolute;
    bottom: 2px;
    color: var(--white);
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 50%);
    display: flex;
    align-items: flex-end;
    border-radius: 30px;
}
.text {
    padding: 30px 48px;
}
.text>p:nth-child(1) {
    font-size: 1.4rem;
}
.text>p:nth-child(2) {
    font-size: 2rem;
    margin: 16px 0;
}
.text>div {
    display: flex;
    justify-content: space-between;
}
.text div>p {
    font-size: 1.4rem;
    width: 50%;
    line-height: 24px;
}
.text div>.body-button {
    padding: .5rem 2rem;
}
.text a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    gap: 12px;
}
.text a img {
    width: 12px;
}
.post>p:nth-child(1), .post>p:nth-child(3) {
    color: var(--grey);
    font-size: 1.4rem;
    text-align: left;
}
.post>p:nth-child(2) {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 20px 0;
}
.post>p:nth-child(3) {
    line-height: 28px;
    margin: 20px 0;
}
.post a  {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
#section6 a p {
    font-size: 1.4rem;
}
.post a img {
    width: 25px;
} 
/*section 6 ends - s7 to be put - s8 starts*/
#section8 {
    height: 90vh;
    background: var(--blog-background);
    margin: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.news-container {
    background-color: var(--body-blue);
    border-radius: 20px;
    width: 83.5%;
    height: 70%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.news-container p:nth-child(1) {
    font-size: 2rem;
}
.news-container h1 {
    font-size: 3.6rem;
    margin: 28px 0;
}
.news-container p:nth-child(3) {
    font-size: 1.6rem;
    width: 36%;
    margin: 0 auto;
    margin-bottom: 40px;
    line-height: 24px;
}
#email-container {
    border: 1px solid var(--white);
    margin: 0 auto;
    width: 40%;
    padding: 5px 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
}
#enter {
    width: 70%;
    background: transparent;
    border: none;
    outline:none;
    font-style: italic;
    font-weight: lighter;
    margin-left: 16px;
}
#enter:active {
    border: none;
    outline:none;
}
#enter::placeholder {
    color: var(--white);
}
#get-started {
    padding: 13px 28px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
/*footer*/
footer {
    margin: 0 var(--margin-side);
    margin-bottom: 20px;
    margin-top: 140px;
}
.upper-footer, .lower-footer {
    display: flex;

}
.upper-footer {
    width: 94%;
    gap: 132px;
}
.upper-footer ul, .lower-footer ul {
    list-style: none;
    font-size: 1.8rem;
} 
.upper-footer ul:nth-child(1) li:nth-child(2) {
    margin: 24px 0;
    line-height: 3.6rem;
}
.upper-footer ul:first-child {
    width: 24%;
}
.upper-footer ul:not(:first-child) li:first-child {
    font-weight: bold;
    font-size: 2.2rem;
}
.upper-footer ul:not(:first-child) li {
    margin: 20px 0;
}
.lower-footer {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 64px;
    justify-content: space-between;
}
.lower-footer ul {
    display: flex;
    gap: 24px;
}